{% extends 'main_base.html' %}

{% block content %}

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="w-100 d-flex align-items-center">
        <img src="https://cdn.shopify.com/s/files/1/0057/3728/3618/products/950e439404c3d5eddd86ae876cec83bf_949b5045-2503-4883-bcd2-ff1f31f5b14c_240x360_crop_center.progressive.jpg?v=1573588746" class="d-block w-20 p-1" style="width: 20%;" />
        <img src="https://cdn.shopify.com/s/files/1/0057/3728/3618/products/parasite_ver3_xlg_240x360_crop_center.progressive.jpg?v=1581309216" class="d-block w-20 p-1" style="width: 20%;" />
        <img src="https://cdn.shopify.com/s/files/1/0057/3728/3618/products/little_women_240x360_crop_center.progressive.jpg?v=1579037732" class="d-block w-20 p-1" style="width: 20%;" />
        <img src="https://cdn.shopify.com/s/files/1/0057/3728/3618/products/top_gun_maverick_ver2_240x360_crop_center.progressive.jpg?v=1578430896" class="d-block w-20 p-1" style="width: 20%;" />
        <img src="https://cdn.shopify.com/s/files/1/0057/3728/3618/products/799ff6c7d7ceadd820eee10b32961ff9_a6b389f7-90d4-4ff4-9c27-721c6ebd341e_240x360_crop_center.progressive.jpg?v=1573653880" class="d-block w-20 p-1" style="width: 20%;" />
      </div>
    </div>
    <div class="carousel-item">
      <div class="w-100 d-flex align-items-center">
        <img src="https://cdn.shopify.com/s/files/1/0057/3728/3618/products/sonichedgehog.reg.ar_240x360_crop_center.progressive.jpg?v=1580917913" class="d-block w-20 p-1" style="width: 20%;" />
        <img src="https://cdn.shopify.com/s/files/1/0057/3728/3618/products/MPW-125796_240x360_crop_center.progressive.jpg?v=1573856203" class="d-block w-20 p-1" style="width: 20%;" />
        <img src="https://cdn.shopify.com/s/files/1/0057/3728/3618/products/c11f66ec0451a36f5aae494b1509b069_bf869227-c34a-449c-83ff-ed093d341dd3_240x360_crop_center.progressive.jpg?v=1573616179" class="d-block w-20 p-1" style="width: 20%;" />
        <img src="https://cdn.shopify.com/s/files/1/0057/3728/3618/products/e93839d7ee2e5ad4858f1b21fcf09e2a_2c6a225f-b23f-4582-9c88-957215c7f49a_240x360_crop_center.progressive.jpg?v=1573591356" class="d-block w-20 p-1" style="width: 20%;" />
        <img src="https://cdn.shopify.com/s/files/1/0057/3728/3618/products/b72f9ededc20cc621b5b503541f484c4_9da1923c-5381-48c6-8e02-3f81a3df3386_240x360_crop_center.progressive.jpg?v=1573588706" class="d-block w-20 p-1" style="width: 20%;" />
      </div>
    </div>
  </div>
</div>


<h3 class="mt-5 text-center">REVIEW</h3>

<div class="list-group container">
  <a href="{% url 'community:new' %}" class="d-flex align-items-center list-group-item list-group-item-action">
    <h6 class="text-black-50">+ new reviews</h6>
  </a>
  {% for review in reviews %}
    <a href="{% url 'community:detail' review.id %}" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ review.title }}<span class="badge badge-primary px-2 mx-2">{{ review.rank }}</span></h5>
        <small>{{ review.created_at }}</small>
      </div>
      <p class="mb-1">{{ review.content }}</p>
      <small>{{ review.movie_title }}</small>
    </a>
  {% endfor %}
</div>

{% endblock %}